.booking-wrapper {
    height: 100vh;
    position: relative;
    min-height: 800px;
}

.booking-wrapper img {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.booking-wrapper h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    color: #CF3943;
    text-align: center;
    padding-top: 80px;
}

.booking-wrapper h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
    margin-bottom: 20px;
    color: #151712;
    text-align: center;
    margin-bottom: 40px;
}

.booking-infolist {
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid rgba(17, 17, 17, .5);
}

.booking-info {
    margin: auto auto 20px auto;
    width: 450px;
}

.booking-info:last-of-type {
    margin-bottom: 10px;
}

.booking-infolist + p {
    margin: 40px auto auto auto;
    width: 700px;
    font-family: 'Great Vibes', cursive;
    color: #CF3943;
    font-size: 36px;
}

.booking-info p:first-of-type {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    color: #CF3943;
}

@media screen and (max-width: 1024px) {

    .booking-wrapper img {
        width: 80%;
    }

}

@media screen and (max-width: 890px) {

    .booking-wrapper h1 {
        padding-top: 100px;
    }

    .booking-wrapper h2 {
        font-size: 36px;
    }

    .booking-wrapper img {
        width: 100%;
    }

    .booking-infolist {
        width: 70%;
    }

    .booking-infolist + p {
        width: 70%;
    }

}